@charset "UTF-8";

@font-face { /*Fazendo importação da fonte baixada.*/
    font-family: 'Love';
    src: url(love\ larry\ ttf.ttf) format('truetype');
}

h4 {
    color: blueviolet;
}

p#teste { /*Estilizando id*/
    color: brown;
}

p.teste { /*Estilizando classe*/
    color: cadetblue;
}

a#testehover {
    text-decoration: none;
}

a#testehover:hover {
    text-decoration: underline;
    color: red;
}